numpy==2.2.6
Pillow==11.2.1
protobuf==5.29.1
pyinstaller==6.12.0
pylint==3.3.6
pytest==8.4.0
pytest-asyncio==0.26.0
typing_extensions==4.14.0
# Branch of Viam SDK that takes an experimental approach to allow Python modules to run on Windows
viam-sdk @ git+https://github.com/stuqdog/python-sdk.git@11a6a0bf081bbaf176596023ec8867ddf6cfd4f9
