astroid==3.3.10
dill==0.4.0
dnspython==2.7.0
googleapis-common-protos==1.70.0
grpclib==0.4.8
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
iniconfig==2.1.0
isort==6.0.1
mccabe==0.7.0
multidict==6.4.4
numpy==2.2.6
packaging==25.0
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
protobuf==5.29.2
Pygments==2.19.1
pylint==3.3.7
pymongo==4.13.0
pyserial==3.5
pytest==8.4.0
pytest-asyncio==1.0.0
tomlkit==0.13.2
typing_extensions==4.14.0
viam-sdk==0.47.0
